<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targert="#navbar" aria-expanded="false" aria-controls="navbar" name="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Wikipedia Reader</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-brand">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
